/* #region commun */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin:auto;
}

.r-flex {
    display: flex;
}

a {
    text-decoration: none;
}

:root {
    --bo-orange:#ff6900;
    --bo-footer:#1a1a1a;
    --bo-green:#008000;
    --bo-red:#ff0000;
    --bo-black:#000000;
    --bo-white:#ffffff;

}
/* #endregion commun */



/* #region debug */
.debug .col {
    background-color: palegoldenrod;
}

/* #endregion debug */




/* #region header */
#app_header {
    background-color: var(--bo-orange);
}

.nav{
    text-align: center;
    align-items: center;
}

.size a {
    color: var(--bo-white);
}

.logo img {
    max-width: 25%;
}

.user_bag a {
    color: var(--bo-white);
}
/* #endregion header */
.col {
    width: calc(100%/12*4);
    margin: 3rem 0.5rem;
}

.card img {
    max-width: 100%;
}