/* #region commun */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: auto;
}

.r-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    text-decoration: none;
}

:root {
    --bo-orange: #ff6900;
    --bo-footer: #1a1a1a;
    --bo-green: #008000;
    --bo-red: #ff0000;
    --bo-black: #000000;
    --bo-white: #ffffff;

}

.special_price {
    text-decoration: line-through;
}

.hot_price {
    color: red;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* #endregion commun */



/* #region debug */

.debu .col {
    background-color: palegoldenrod;
}

/* #endregion debug */




/* #region header */

.container.r-flex.nav {
    justify-content: space-between;
}

#app_header {
    background-color: var(--bo-orange);
}

.nav {
    text-align: center;
    align-items: center;
}

.size a {
    color: var(--bo-white);
}

.logo img {
    max-width: 25%;
}

.user_bag a {
    color: var(--bo-white);
}

/* #endregion header */

/* #region main */

.col {
    width: calc((100% / 12) * 4 - 3rem);
    margin: 3rem 0.5rem 0 ;
}

.card {
    position: relative;
}

.card img {
    max-width: 100%;
}

.heart {
    position: absolute;
    padding: 5px 10px;
    background-color: var(--bo-white);
    right: 0;
    top: 10px;
}

.add_info {
    position: absolute;
    color: var(--bo-white);
    bottom: 20%;
    font-size: 0.8rem;
}

.recycle {
    background-color: var(--bo-green);
    padding: 0.25rem 0.5rem;

}

.sale {
    background-color: var(--bo-red);
    padding: 0.25rem 0.5rem;


}

/* #endregion main */

